<%- include ('../../partials/header.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs') %>
    <br>
    <div class="container">
        <card class="card">
            <div class="card-header">
                <h1>Update Article</h1>
            </div>
            <div class="card-body">
                <form method='POST' action="/article/edit">
                    <label>Title</label>
                    <input type='text' placeholder='Type the article title' class='form-control' name='title' value='<%= articles.title %>'><br>
                    <textarea name="body" class='form-control' placeholder="Write your article here" id='article' value=''></textarea><br>
                    <label>Category</label>
                    <select name="category" class='form-control'>
                        <% categories.forEach((category) => {%>

                            <%if(category.id === articles.categoryId) {%>
                                <option value='<%= category.id %>' selected><%= category.title %></option>
                            <%} else {%>
                                <option value='<%= category.id %>'><%= category.title %></option>
                            <%}%>
                        <%})%>
                    </select><br>
                    <input type="hidden" name='id' value='<%= articles.id %>'>
                    <button class='btn btn-success'>Update</button>
                </form>
            </div>
        </card>
    </div>
</body>

<div id='content' style='display: none;'>
    <%- articles.body %>
</div>

<%- include ('../../partials/footer.ejs') %>

<script src='/tinymce/tinymce.min.js'></script>
<script>

    tinymce.init({
        //language: 'pt_BR',
        selector: '#article',
        plugins: [
        'advlist autolink link image lists print preview hr searchreplace wordcount fullscrean insertdatetime media save table paste emoticons'
        ],
        init_instance_callback: () => {
            tinymce.get('article').setContent($('#content').html())
        }
    });

</script>